lh-scores-container {
  $padding: 16px;
  $cardsHeight: 250px;
  display: block;
  border-radius: 3px;
  margin: ($padding * 2) 0;
  // Prevent layout thrashing. Size to same as final container.
  min-height: $cardsHeight + ($padding * 2) + (18*2);

  .lh-score-cards {
    display: flex;
    height: $cardsHeight;
  }

  .lh-score-card {
    position: relative;
    padding: $padding;
    width: 20%;
    height: 100%;
    border: 1px solid #ccc;
    border-right: 0;
    display: flex;
    flex-direction: column;

    &:last-child {
      border-right: 1px solid #ccc;
    }
  }
  .lh-score-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
  }
  .lh-score-card__title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 60px);
    white-space: nowrap;
  }
  spark-line {
    display: inline-block;
    width: 100%;
    height: 100px;

    &[dashed] {
      pointer-events: none;
      position: absolute;
      top: 0;
    }
  }
  gauge-element {
    --circle-size: 50px;
    width: var(--circle-size); /* Give layout before hydration */
    height: var(--circle-size);
    contain: content;
    display: block;
  }

  .lh-score-card__scorescale {
    text-align: right;
  }

  .lh-score__label {
    margin: 16px 0;
    font-size: 14px;
    color: #757575;
  }

  .lh-score-card__legend {
    display: inline-block;
    margin-left: 16px;
  }

  .lh-score__stats {
    font-size: 12px;
    color: #757575;
    position: absolute;
    bottom: $padding;
    width: 100%;
    left: $padding + 10;
  }

  .lh-score-card__range  {
    margin-left: 4px;
    white-space: nowrap;

    &::before {
      content: '';
      width: 14px;
      height: 8px;
      border-radius: 4px;
      display: inline-block;
      margin: 0 5px;
    }

    &.lh-score--fail::before {
      background-color: hsl(1, 73%, 45%);
    }
    &.lh-score--average::before {
      background-color: hsl(31, 100%, 45%);
    }
    &.lh-score--pass::before {
      background-color: hsl(139, 70%, 30%);
    }
  }
}
