 /* TODO: animate transforms instead of left/right */
 @keyframes indeterminate{
  0% {left:-35%;right:100%}
  60% {left:100%;right:-90%}
  100% {left:100%;right:-90%}
}

web-progress {
  .web-progress-wrapper {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #3e7bf633;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
    contain: strict;
  }

  .web-progress-indeterminate {
    background-color: var(--site-blue);

    &::before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 3px;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}
