@import './elements/sparkline-element.scss';
@import './elements/lh-scores-container.scss';
@import './elements/web-progress.scss';

* {
  box-sizing: border-box;
}
:root {
  --site-blue: rgb(62,123,246);
}
body {
  font-family: 'Google Sans', sans-serif;
  font-weight: 300;
  padding: 32px;
  max-width: 80%;
  margin: 0 auto;
}
#enterurl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#url {
  padding: 8px 0;
  font-size: 28px;
  font-weight: 500;
  width: 100%;
  border: 1px solid transparent;
  transition: border 200ms ease-in-out;
  outline: none;
  margin-right: 16px;

  &:focus, &:hover {
    border: 1px solid var(--site-blue);
  }
}
.blue-button {
  padding: 16px;
  text-transform: uppercase;
  background-color: var(--site-blue);
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}
.lh-icon {
  height: 50px;
  width: 50px;
  opacity: 0.6;
  will-change: opacity;
  margin-right: 8px;

  &:hover {
    opacity: 1;
  }

  &.download-icon {
    background: url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat 50% 50%;
  }
  &.view-icon {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>') no-repeat 50% 50%;
  }
}

.lh-running-msg {
  display: none;
  margin-right: 16px;
  color: #777;
  font-style: italic;
  align-self: center;
}
web-progress {
  visibility: hidden;
}

/* UI changes while LH is auditing a URL */
.lh-audit-running {
  .lh-running-msg {
    display: inline-block;
  }
  web-progress {
    visibility: visible;
  }
}

a {
  color: #222;
}



